$accent1: #0084FF;
$accent2: #26D2A7;

$link-color: $accent2;

$body-bg-color: #1D2530;
$text-color-primary: hsl(0, 0%, 95%);
$text-color-secondary: hsl(0, 0%, 80%);

$button-text-color: $accent2;
$button-border-spread-color: transparentize($accent2, 0.8);

$card-bg-color: #242c37;
