$medium-breakpoint: 768px;
$large-breakpoint: 1024px;

@mixin small {
  @media (max-width: $medium-breakpoint - 1px) {
    @content;
  }
}

@mixin from-medium {
  @media (min-width: $medium-breakpoint) {
    @content;
  }
}

body {
  font-family: 'Lexend Deca', sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.hero {
  height: 100vh;
  width: 100vw;

  .shapes {
    > * {
      animation-name: floating;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;
      transition-duration: 300ms;
      transition-property: top, right;
      z-index: -1;
    }

    @keyframes floating {
      from { transform: translateY(0px); }
      65% { transform: translateY(15px) rotate(10deg); }
      to { transform: translateY(0px); }
    }

    > :nth-child(1) {
      position: fixed;
      top: calc(-50% + 50px);
      right: 250px;
      animation-duration: 20s;

      @include small {
        top: calc(-50% - 50px);
        right: 200px;
      }

      &:after {
        content: '';
        background-color: #ffcc02;
        height: 500px;
        width: 350px;
        display: inline-block;
        border-radius: 60px;
        transform: rotate(10deg);
      }
    }

    > :nth-child(2) {
      position: fixed;
      top: calc(100% - 180px);
      right: 100px;
      animation-duration: 25s;

      @include small {
        top: calc(100% - 140px);
        right: 40px;
      }

      &:after {
        content: '';
        background-color: #22cc88;
        padding: 300px;
        display: inline-block;
        border-radius: 1000px;
      }
    }

    > :nth-child(3) {
      position: fixed;
      top: calc(50% - 230px);
      right: -260px;
      animation-duration: 15s;

      @include small {
        right: -380px;
      }

      &:after {
        content: '';
        background-color: #ff3366;
        padding: 200px;
        display: inline-block;
        border-radius: 130px;
        transform: rotate(10deg);
      }
    }
  }

  .info {
    position: absolute;
    top: 50%;
    left: 70px;
    transform: translateY(-50%);
    width: fit-content;
    
    &, & > * {
      transition: 300ms;
    }

    @include small {
      left: 50%;
      transform: translate(-50%, -50%);
    }

    > :nth-child(1) {
      font-size: 2rem;
      display: block;
      margin-left: 230px;
      margin-bottom: 10px;

      @include small {
        font-size: 1.5rem;
        margin-left: 95px;
      }
    }

    > :nth-child(2) {
      font-size: 4rem;
      display: inline-block;
      background-color: #607D8B;
      padding: 10px 40px;
      border-radius: 1000px;
      color: white;
      position: relative;
      overflow: hidden;
      transform-style: preserve-3d;

      @include small {
        font-size: 2.4rem;
        padding: 10px 20px;
      }

      $colors: (#ffcc02, #22cc88, #ff3366, #0081ff);
      $extra: 100px;

      @media (prefers-reduced-motion) {
        background-color: nth($colors, -1);
      }

      > span:not(.name) {
        width: calc(100% + #{$extra});
        position: absolute;
        top: -10px;
        bottom: -10px;
        z-index: -1;

        @media (prefers-reduced-motion: no-preference) {
          animation-duration: 800ms;
          animation-fill-mode: forwards;
          animation-timing-function: cubic-bezier(0.73, -0.01, 0.14, 0.99);
        }
      }

      @for $i from 1 through length($colors) {
        $odd: ($i % 2) == 0;

        > span:nth-child(#{$i}) {
          background-color: nth($colors, $i);
          animation-delay: 1s + (0.4s * $i);

          @if $odd {
            left: calc(-100% - #{$extra});
            animation-name: slide-right;
          } @else {
            right: calc(-100% - #{$extra});
            animation-name: slide-left;
          }
        }
      }

      @keyframes slide-right {
        100% {
          transform: translateX(calc(100% - #{$extra / 2}));
          border-radius: 300px;
        }
      }

      @keyframes slide-left {
        100% {
          transform: translateX(calc(-100% + #{$extra / 2}));
          border-radius: 300px;
        }
      }
    }

    > .links {
      padding-left: 45px;
      font-size: 1.2rem;

      @include small {
        padding-left: 30px;
        font-size: 1rem;
      }

      ul {
        padding: 0;
      }

      li {
        list-style: none;
        display: inline-flex;
        margin-right: 10px;

        a {
          padding: 10px;
          outline-color: lightseagreen;
          border-style: none;
        }

        [data-icon], a, svg {
          display: inline-block;
          height: 1.5rem;
          width: 1.5rem;
          color: currentColor;
        }

        $iconColors: (
          'twitter': rgb(29, 161, 242),
          'discord': rgb(114, 137, 218),
          'telegram': rgb(50, 175, 237),
          'github': #24292e
        );

        @each $name, $color in $iconColors {
          [data-icon=#{$name}] {
            color: $color;
          }
        }
      }
    }
  }
}

.main-body {
  padding: 40px 80px;

  @include small {
    padding: 40px 20px;
  }

  h1 {
    font-weight: normal;

    &:before {
      content: '> ';
      font-family: 'Fira Code', monospace;
    }
  }
}

.block {
  p {
    font-size: 1.4rem;
    margin-left: 20px;

    @include small {
      font-size: 1.1rem;
    }
  }

  ul {
    padding-left: 30px;

    li {
      list-style: none;
      font-size: 1.2rem;
    }
  }
}

.what-the-heck-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: red;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: none;
  padding: 15px;
  font-size: 2rem;

  @media (max-width: 300px) {
    display: flex;
  }
}

h1, h2 {
  font-weight: normal;
}

.center {
  text-align: center;
}
