doctype html
html(lang='en')
  -
    const siteData = {
      description: `It's all about Sarsa Murmu`,
      favicon: `/resources/favicon.png`,
      brandImage: `/resources/cover_image.png`,
      themeColor: `#1D2530`,
      siteName: `Sarsa Murmu`
    }
  
  head: block head
    title #{title}
    meta(property='og:title' content=title)
    include _head.pug
    +head(siteData)
    link(rel='stylesheet', href='/stylesheets/base.css')
    link(rel='stylesheet' href!='https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap')
    link(rel='stylesheet' href!='https://fonts.googleapis.com/css2?family=Fira+Code:wght@500&display=swap')
  body: block body
